$color-very-dark-gray: hsl(0, 0%, 17%);
$color-dark-gray: hsl(0, 0%, 59%);

$color-neutral-grayish-blue: hsl(217, 19%, 38%);
$color-neutral-dark-grayish: hsl(217, 19%, 24%);
$color-neutral-dark-blue: hsl(218, 23%, 16%);

$font-size: 18px;
