<div class="container" *ngIf="currentInfo$ | async as info">
  <div class="ip-address pair">
    <p class="ip-address__text header">Ip Address</p>
    <p class="ip-address__value values">{{ info.ip }}</p>
  </div>
  <hr class="vertical-line" />
  <div class="location pair">
    <p class="location__text header">Location</p>
    <p class="location__value values">{{ info.location }}</p>
  </div>
  <hr class="vertical-line" />
  <div class="timezone pair">
    <p class="timezone__text header">Timezone</p>
    <p class="timezone__value values">{{ info.timezone }}</p>
  </div>
  <hr class="vertical-line" />
  <div class="isp pair">
    <p class="isp__text header">Isp</p>
    <p class="isp__value values">{{ info.isp }}</p>
  </div>
</div>
